.table-div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.table-all tr td {
    padding: 6px;
}

.table-div table, .title-table td, .info-table td {
    border: 1px solid #d4d4d4;
}

.title-table {
    font-weight: 600;
}

.info-table td {
    font-family: "Arimo", sans-serif;
}

.error-text {
    font-weight: 600;
    color: #5cac4c;
}

.input-div-text {
    font-weight: 600;
}

.input-div-data {
    padding: 4px;
    margin-right: 12px;
    color: #464646;
}